body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.admissionsopen {
    background-color: #0356fc;
}

#learning {
    margin-left: 30px;
}

#admission {
    margin-top: 30px;
}

html {
    scroll-behavior: smooth;
}

img {
    margin-right: 50px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.campusplaces {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.campusplaces img {
    width: 100%;
    height: 300px;
}

.campusplaces hr {
    width: 100%;
}

.campusplaces h5,
campusplaces p {
    margin-left: 20px;
}

.achievementsclass {
    padding-bottom: 10px;
}

.achieveheader {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.achieveheader i {
    float: right;
}
#achievement1 img{
    height:30%;
    width:150%;
}
